<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.rotcare1">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Alloted_req_Activity"></activity>
        <activity android:name=".Pending_req_Activity" />
        <activity android:name=".Req_history_Activity" />
        <activity android:name=".My_req_Activity" />
        <activity android:name=".Apply_for_req_Activity" />
        <activity android:name=".MemberActivity" />
        <activity android:name=".VolunteerActivity" />
        <activity android:name=".Nav_ContactsActivity" />
        <activity android:name=".Nav_MessageActivity" />
        <activity android:name=".Nav_RewardActivity" />
        <activity android:name=".Nav_ProfileActivity" />
        <activity android:name=".Nav_HomeActivity" />
        <activity
            android:name=".V_HomeActivity"
            android:label="Volunteer" />
        <activity
            android:name=".M_HomeActivity"
            android:label="Member" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>