<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.rotcare1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Req_History_Info_Activity" />
        <activity android:name=".Req_Status_Info_Activity" />
        <activity android:name=".Alloted_Req_Info_Activity" />
        <activity android:name=".Pending_Req_Info_Activity" />
        <activity
            android:name=".Alloted_req_Activity"
            android:label="Accepted Request"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Pending_req_Activity"
            android:label="Pending Request"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Req_history_Activity"
            android:label="Request History"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".V_req_History"
            android:label="Request History"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".My_req_Activity"
            android:label="Requests Status"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Apply_for_req_Activity"
            android:label="Apply for Request"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".Nav_ContactsActivity"
            android:label="Contacts"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Nav_MessageActivity"
            android:label="Message"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Nav_RewardActivity"
            android:label="My Rewards"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Nav_ProfileActivity"
            android:label="My Profile"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>